<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mhtml2zip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <mhtml2zip.Properties.Settings>
            <setting name="MhtmlFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RootName" serializeAs="String">
                <value>OneNote</value>
            </setting>
            <setting name="NotebookName" serializeAs="String">
                <value>Knowledge</value>
            </setting>
            <setting name="Divider" serializeAs="String">
                <value>!</value>
            </setting>
        </mhtml2zip.Properties.Settings>
    </userSettings>
</configuration>